.grid {
	width: 18rem;
	background-color: #fff;
	margin: 15px;
	height: auto;
	position: relative;
	box-shadow: 0 0 5px rgba(16, 24, 40, 0.25) !important;
}

/* .grid .prod-link {
	border-bottom: 2px solid #eee !important;
} */
.grid .img {
	padding: 1rem;
	width: inherit;
	max-height: 75%;
	overflow: hidden;
	border-bottom: 2px solid #eee;
}
.grid img {
	width: 100%;
	max-width: 100%;
	/* // height: 100%;
      // max-height: 100%; */
	cursor: pointer;
}

.prd-content {
	width: 100%;
	text-align: center;
}

.prd-content p:nth-child(2) {
	font-size: 1.1rem;
	font-weight: 400;
	padding: 0 !important;
	margin: 0 0 20px 0 !important;
}

.prd-content p:nth-child(1) {
	font-size: 1.3rem;
	font-weight: 500;
	color: #ffb700;
	padding: 0 !important;
	margin: 25px 0 0 0 !important;
}

.prd-content .button-prd {
	display: block;
	width: 100%;
	background-color: #ffb700;
	color: #fff;
}

.prd-content .button-prd:hover {
	background-color: orangered;
	font-weight: 700;
}

.list {
	width: 100%;
	height: 23rem;
	max-height: 32rem;
	display: flex;
	justify-content: space-between;
	text-align: left;
	background-color: #fff;
	margin: 1rem 0;
}
.list .img {
	padding: 1rem;
	width: inherit;
	height: 100%;
	overflow: hidden;
	border-right: 2px solid #eee;
}
.list img {
	width: 100%;
	max-height: 100%;
	cursor: pointer;
}

.list .prd-content {
	position: relative;
	padding: 1rem;
	width: 65%;
	text-align: left;
}
.list .details {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.list .prd-content p:nth-child(1) {
	font-weight: 500;
}
.list .prd-content p:nth-child(2) {
	font-weight: 300;
}

.list .prd-content .desc {
	font-size: 1.2rem;
}

.list .prd-content .button-prd {
	max-width: 45%;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

@media screen and (max-width: 800px) {
	.list .prd-content .button-prd {
		width: 50%;
	}

	.list .prd-content .button-prd {
		height: 32rem;
	}
}
