.product-product {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 4rem;
}
.product-review {
	border-top: 1px solid #ccc;
}
.product-details {
	padding-top: 2rem;
	display: flex;
}
.product-img {
	width: 45%;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.product-img > img {
	width: 100%;
}

.product-content {
	width: 55%;
	padding: 0 5px;
}
.product-content > * {
	margin-bottom: 1rem;
	padding-right: 10px;
}

.product-content > b {
	margin-right: 10px;
}
.product-price {
	color: #ffb700;
	font-weight: 700;
}

.product-count {
	display: flex;
	align-items: center;
}
.product-count > * {
	margin-right: 0.5rem;
}

a {
	text-decoration: none;
}

.product-detail-btn:hover {
	background-color: #fff;
	border: 1px solid #ffb700;
	color: #ffb700;
}

@media screen and (max-width: 700px) {
	.product-product .product-details {
		flex-direction: column;
	}
	.product-img {
		width: 100%;
	}

	.product-content {
		width: 100%;
	}
}
