.headerFixed {
	width: 100%;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 9;
}
.navBar {
	background-color: rgba(4, 20, 42, 0.937) !important;
}

.navActive {
	color: "ffb700";
	font-weight: 600;
	text-decoration: underline;
}

.navLink {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
}

.cartQuantity {
	position: absolute;
	top: 5px;
}

.navLink:hover {
	border-bottom: 3px solid #fff;
}

/* .active {
	position: relative;
	color: orangered;
}

.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: #fff;
} */
