.search {
	margin: 0;
	position: relative;
	flex: 1;
}
.icon {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

.search-input {
	display: block;
	font-size: 0.9rem;
	padding: 0.5rem;
	padding-left: 3rem;
	margin: 0 auto;
	width: 70%;
	border: 1px solid #777;
	border-radius: 3px;
	outline: none;
}
